<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Leave Request List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">

  <!-- Page Title -->
  <h2 class="text-center fw-bold mb-4">Leave Request List</h2>

  <!-- Table Card -->
  <div class="card shadow">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle text-center">
          <thead class="table-dark">
          <tr>
            <th>Leave Request ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Manager Comment</th>
            <th>Status</th>
            <th>Employee ID</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="request:${requests}">
            <td th:text="${request.id}"></td>
            <td th:text="${request.startDate}"></td>
            <td th:text="${request.endDate}"></td>
            <td th:text="${request.managerComment}"></td>
            <td>
                            <span class="badge bg-info"
                                  th:text="${request.status}"></span>
            </td>
            <td th:text="${request.employee.id}"></td>
            <td>
              <a class="btn btn-warning btn-sm">
                Change Approval
              </a>
            </td>
          </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
