<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Leave History</h1>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
    <hr>
    <h2 class="mb-3">My Leave History</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover bg-white text-center align-middle">
            <thead class="table-dark">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="leave : ${requests}">
                <td th:text="${leave.startDate}"></td>
                <td th:text="${leave.endDate}"></td>
                <td th:text="${leave.reason}"></td>
                <td th:text="${leave.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
